driftfile /var/lib/ntp/ntp.drift

{% for server in servers %}
server {{ server }}
{% endfor %}

restrict default nomodify notrap nopeer noquery

restrict 127.0.0.1
restrict ::1
{% for restrict in restricts %}
restrict {{ restrict }} nomodify notrap nopeer noquery
{% endfor %}

includefile /etc/ntp/crypto/pw
keys /etc/ntp/keys

disable monitor
